/*!CK:1996640280!*//*1424271902,*/

._2kc8{background-color:#f6f7f8;border:1px solid #bdc1c9;font-size:12px;padding:5px}

#bootloader_HFrGQ { height: 42px; }
.bootloader_HFrGQ { display:block !important; }